<div class="container">
  <div class="grid">

  <form>

    <div class="col-12">
      <h1>Nova Pessoa</h1>
    </div>

    <div class="col-12">
        <label>Nome</label>
        <input pInputText type="text" class="inputfield w-full" name="nome" ngModel>
    </div>

    <div class="col-12 sm:col-12 md:col-8 lg:col-8">
        <label>Logradouro</label>
        <input pInputText type="text" class="inputfield w-full" name="logradouro" ngModel>
    </div>
    <div class="col-12 sm:col-12 md:col-4 lg:col-4">
        <label>Numero</label>
        <input pInputText type="text" class="inputfield w-full" name="numero" ngModel>
    </div>

    <div class="col-12 sm:col-12 md:col-4 lg:col-4">
        <label>Complemento</label>
        <input pInputText type="text" class="inputfield w-full" name="complemento" ngModel>
    </div>
    <div class="col-12 sm:col-12 md:col-4 lg:col-4">
        <label>Bairro</label>
        <input pInputText type="text" class="inputfield w-full" name="bairro" ngModel>
    </div>
    <div class="col-12 sm:col-12 md:col-4 lg:col-4">
        <label>Cep</label>
        <p-inputMask mask="99.999-999" name="cep" ngModel></p-inputMask>
    </div>

    <div class="col-12 sm:col-12 md:col-6 lg:col-6">
        <label>Cidade</label>
        <input pInputText type="text" class="inputfield w-full" name="cidade" ngModel>
    </div>
    <div class="col-12 sm:col-12 md:col-6 lg:col-6">
        <label>Estado</label>
        <input pInputText type="text" class="inputfield w-full" name="estado" ngModel>
    </div>

    <div class="field col-12 flex align-content-end flex-wrap card-container align-items-center">
      <button class="p-button-sm p-button-info" pButton type="submit" label="Salvar"></button>
      <button class="p-button-sm p-button-info" pButton type="submit" label="Novo"></button>
      <a href="#">Voltar para a pesquisa</a>
    </div>

  </form>

  </div>
</div>
